/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/led/led.h>
#include <dt-bindings/zmk/reset.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&led_strip { chain-length = <27>; };

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "BAS";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESCAPE  &kp Q           &kp W  &kp E         &kp R      &kp T          &kp Y        &kp U        &kp I            &kp O    &kp P          &kp BACKSPACE
&kp LCTRL   &kp A           &kp S  &kp D         &kp F      &kp G          &kp H        &kp J        &kp K            &kp L    &kp SEMI       &mt RCTRL SQT
&kp LSHFT   &mt LEFT_ALT Z  &kp X  &kp C         &kp V      &kp B          &kp N        &kp M        &kp COMMA        &kp DOT  &mt RALT FSLH  &mt RIGHT_SHIFT TAB
                                   &mt LGUI ESC  &lt 2 TAB  &lt 1 SPACE    &lt 2 ENTER  &lt 1 SPACE  &mt RGUI ESCAPE
            >;
        };

        lower_layer {
            display-name = "LOW";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp N1  &kp N2  &kp N3  &kp N4     &kp N5    &kp N6     &kp N7         &kp N8     &kp N9     &kp N0  &trans
&trans  &trans  &trans  &trans  &trans     &trans    &kp LEFT   &kp DOWN       &kp UP     &kp RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &trans     &trans    &kp HOME   &kp PAGE_DOWN  &kp PG_UP  &kp END    &trans  &trans
                        &trans  &lt 3 TAB  &trans    &lt 3 RET  &trans         &trans
            >;
        };

        raise_layer {
            display-name = "RAI";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT      &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR            &kp BSPC
&trans   &kp F1    &kp F2  &kp F3    &kp F4    &kp F5         &kp MINUS  &kp EQUAL  &kp LBKT         &kp RBKT  &kp BSLH            &mt RCTRL GRAVE
&trans   &kp F6    &kp F7  &kp F8    &kp F9    &kp F10        &kp UNDER  &kp PLUS   &kp LBRC         &kp RBRC  &mt RIGHT_ALT PIPE  &mt RIGHT_SHIFT TILDE
                           &kp LGUI  &trans    &lt 3 SPACE    &trans     &to 3      &trans
            >;
        };

        Extra {
            bindings = <
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &kp LEFT        &msc SCRL_DOWN  &msc SCRL_UP   &kp RIGHT        &kp LA(LEFT)  &kp LA(RIGHT)
&trans  &trans        &trans        &trans        &trans        &trans          &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP   &mmv MOVE_RIGHT  &kp LA(HOME)  &kp LC(R)
&trans  &trans        &trans        &trans        &trans        &bt BT_CLR      &trans          &kp PAGE_DOWN   &kp PAGE_DOWN  &trans           &trans        &trans
                                    &to 0         &mkp MCLK     &mkp RCLK       &mkp LCLK       &mkp RCLK       &to 0
            >;

            label = "EXT";
        };
    };
};
